
/* ---- Tabbed demo ---------------------------------------------------------- */

.tabs {
    background-color: beige; 
}

.tab {
	display: inline-block;
	
	padding: 5px;  
	cursor: pointer;
	font-weight: 700;
 }

.tabSet {
	color: black;
}

.tabUnset {
	color: grey;
}

.tabContent {
	display: none;	
	
	padding: 20px;  
	background-color: lightblue; 
	box-shadow: inset 0 0 0px 6px blue; 
	margin-bottom: 10px;    
}

.tabContent>div:first-child {
	background: #fff url('/tickets/resources/img/point.png') repeat-x scroll 0 10px;
	margin: 16px 6px 6px 0px;
}

.tabContent h4 {
	font-style: italic;
	display: inline-block;
	background-color: white;
	padding-right: 5px;
}

.tabContent pre {
	font-family: arial;
	white-space: pre-wrap;
}

.tabContent  h5 {
	margin: 16px 0px 3px 0px;
	color: grey;
}


/* ---------------------------------------------------------------------------- */