/* ----- Table ----------------------------------------------------------- */
.mytable {
	width: 100%;
	height: 100%;
	table-layout: fixed;
	border-collapse: collapse;
}

.mytable th, td {
	text-align: left;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

/* ----------------------------------------------------------------------- */