<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE xml>

<configuration debug="false" scan="false" scanPeriod="60 seconds">

	<!-- No logback status log -->
	<statusListener class="ch.qos.logback.core.status.NopStatusListener" />

	<contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator">
		<!-- reset all previous level configurations of all j.u.l. loggers -->
		<resetJUL>false</resetJUL>
	</contextListener>

	<!-- Development black font for INFO, TRACE & DEBUG -->

	<appender name="STDOUT-I" class="ch.qos.logback.core.ConsoleAppender">
		<filter class="ch.qos.logback.classic.filter.LevelFilter">
			<level>INFO</level>
			<onMatch>ACCEPT</onMatch>
			<onMismatch>DENY</onMismatch>
		</filter>
		<encoder>
			<pattern>%-5level [%logger{66}] %msg%n</pattern>
		</encoder>
	</appender>
	<appender name="STDOUT-T" class="ch.qos.logback.core.ConsoleAppender">
		<filter class="ch.qos.logback.classic.filter.LevelFilter">
			<level>TRACE</level>
			<onMatch>ACCEPT</onMatch>
			<onMismatch>DENY</onMismatch>
		</filter>
		<encoder>
			<pattern>%-5level [%logger{66}] %msg%n</pattern>
		</encoder>
	</appender>
	<appender name="STDOUT-D" class="ch.qos.logback.core.ConsoleAppender">
		<filter class="ch.qos.logback.classic.filter.LevelFilter">
			<level>DEBUG</level>
			<onMatch>ACCEPT</onMatch>
			<onMismatch>DENY</onMismatch>
		</filter>
		<encoder>
			<pattern>%-5level [%logger{66}] %msg%n</pattern>
		</encoder>
	</appender>

	<!-- Development red font for WARN & ERROR -->
	<appender name="STDERR" class="ch.qos.logback.core.ConsoleAppender">
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>WARN</level>
		</filter>
		<encoder>
			<pattern>%-5level [%logger{66}] %msg%n</pattern>
		</encoder>
		<target>System.err</target>
	</appender>

	<!-- possible levels : TRACE DEBUG INFO WARN ERROR OFF -->

	<!-- Mask some INFO and normal WARN from jetty, tomcat, jsf, ... -->
	<logger name="javax.enterprise.resource.webcontainer.jsf" level="WARN" />
	<logger name="org.eclipse.jetty" level="WARN" />
	<logger name="org.eclipse.jetty.server.Server" level="INFO" />
	<logger name="org.apache" level="WARN" />
	<logger name="org.apache.catalina.startup.Catalina" level="INFO" />
	<logger name="org.apache.catalina.core.ContainerBase" level="OFF" />
	<logger name="org.apache.tomcat.util.digester.Digester" level="ERROR" />
	<logger name="org.eclipse.jetty.security.SecurityHandler" level="ERROR" />
	<logger name="org.eclipse.jetty.annotations.WebServletAnnotation" level="ERROR" />
	<logger name="org.jboss.resteasy.resteasy_jaxrs.i18n" level="WARN" />
	<logger name="org.hibernate" level="WARN" />
	<logger name="org.hibernate.orm.connections" level="ERROR" />

	<!-- My App code level : dev=TRACE, prod=INFO -->
	<logger name="tfa" level="TRACE" />

	<!-- Default level INFO -->
	<root level="INFO">
		<appender-ref ref="STDOUT-I" />
		<appender-ref ref="STDOUT-T" />
		<appender-ref ref="STDOUT-D" />
		<appender-ref ref="STDERR" />
	</root>

</configuration>