
.rtitle {
	width: calc(100% - 15px);
}

.leid {
	vertical-align: top;
	margin-right: 8px;
}

.letitre {
	display: inline-block;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	width: calc(100% - 106px);
}

.actions {
	float: left;
	margin-top: 8px;
	margin-bottom: 5px;
}

.tabbed {
	float: right;
	margin-top: 8px
}

.scroll {
	clear: both;
	overflow-y: scroll;
	height: calc(100% - 60px);
}

.scroll pre {
	width: 99%;
	line-height: 1.4em;
}