/* ---- Edition Form ---------------------------------------------------------- */

#editForm {
	padding: 20px;
}

#editForm>div {
	margin-bottom: 20px;
}

#editForm>div>div {
	font-weight: bold;
	margin-bottom: 3px;
}

#editForm>div>div>span {
	padding-left: 40px;
}

#editForm\:desc {
	width: calc(100% - 12px);
	max-width: calc(100% - 12px);
	max-height: 550px;
	margin-bottom: 20px;
}

#editForm\:title {
	width: calc(100% - 8px);
	margin-bottom: 20px;
}

/* ------------------------------------------------------------------------------- */
