/* ---- Menu Bar ------------------------------------------------------------------ */

/* MenuBar <nav class="menu" >  ul li a  ul li a ... </nav> */
.menu ul {
	list-style-type: none;
	padding-left: 0px;
}

.menu ul li {
	display: inline-block;
	cursor: default;
}

.menu ul li ul {
	display: none;
	position: absolute;
	background-color: white;
}

.menu ul li:hover ul {
	display: block;
}

.menu ul li ul li {
	display: block;
}

.menu a {
	display: block;
}

/* ----- Menu Accordion ------------------------------------------------------------ */
.accor input {
	display: none;
}

.accor label {
	display: block;
}

.accor input+label:hover {
	cursor: pointer;
}

.accor input[type='radio']:checked+label:hover {
	cursor: default;
}

.accor input ~ div a {
	display: block;
	height: 0;
	transition: all 0.2s ease-in-out;
	overflow: hidden;
}

.accor input:checked ~ div a {
	height: 1em;
	transition: all 0.4s ease-in-out;
}

/* ---------------------------------------------------------------------------- */