/* ---- Dialog -------------------------------------------------------------- */

/* dark box on entire page */
.modalDialog {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.7);
	z-index: 101;
	display: none;
}

/* center dialog on page */
.modalDialog>form {
	/* center dialog */
	width: 40%;
	padding: 6px;
	margin: auto;
	margin-top: 10%;
	background-color: white;
	border-radius: 5px;
	/* resizable */
	resize: both;
	overflow: auto;
	min-width: 200px;
	min-height: 100px;
	max-width: 1024px;
	max-height: 900px;
	/* content layout */
	display: flex;
	flex-direction: column;
}

/* x close dialog box */
.dialTitle input {
	float: right;
	vertical-align: top;
}

/* centered */
.dialContent {
	margin: auto;
}

.dialFooter {
	margin-top: auto;
}

/* ---------------------------------------------------------------------------- */