/* ---- Menu Bar ------------------------------------------------------------------ */

/* MenuBar <nav class="menu" >  ul li a  ul li a ... </nav> */
.menu ul {
	list-style-type: none;
	padding-left: 0px;
}

.menu ul li {
	display: inline-block;
	cursor: default;
}

.menu ul li ul {
	display: none;
	position: absolute;
	background-color: white;
}

.menu ul li:hover ul {
	display: block;
}

.menu ul li ul li {
	display: block;
}

.menu a {
	display: block;
}

/* ---------------------------------------------------------------------------- */