/* ---- Splitter demo  ---------------------------------------------------- */

#vsplitter {
	float: left;
	width: 4px;
	height: 100%;
}

#vsplitter:hover {
	cursor: col-resize;
}

#hsplitter {
	float: top;
	width: 100%;
	height: 4px;
}

#hsplitter:hover {
	cursor: row-resize;
}

/* -------------------------------------------------------------------------- */